.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#000000;letter-spacing:0em;}
.Bar_Chart_Values {font-family:'Archivo Narrow';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;color:#000000;letter-spacing:0em;}
.Bar_Chart_Labels {font-family:'Archivo Narrow';font-weight:bold;font-style:normal;font-size:13px;text-decoration:none;color:#000000;letter-spacing:0em;}
